@{
    Layout = "_Layout";
}

@using Pierre.Models

<h1>Treats</h1>

<div id="stuff">
    @if (Model.Count == 0)
    {
        <p>No treats have been added yet.</p>
    }

    <ul>
        @foreach (Treat treat in Model)
        {
            <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
        }
    </ul>
</div>

<hr>

<div class="links">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>@Html.ActionLink("Add New Treat", "Create")</h3>
    }
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>