@{
    Layout = "_Layout";
}

@using Pierre.Models

<h1>Treats</h1>

<div id="stuff">
    @if(Model.Count == 0)
    {
        <p>No treats have been added yet.</p>
    }

    <ul>
        @foreach(Treat treat in Model)
        {
            @Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })
        }
    </ul>
</div>

<hr>

<div class="links">
    <h2>@Html.ActionLink("Add New Treat", "Create")</h2>
    <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
</div>