body {
    background-color: black;
    color: antiquewhite;
}

h1 {
    font-size: 50pt;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: normal;
    width: fit-content;
    margin: auto;
    padding: 50px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 40pt;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: normal;
    width: fit-content;
    margin: auto;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stuff {
    width: 100%;
    margin-left: 35%;
}

#HomeDisplay {
    width: 100%;
    margin-left: 35%;
}

li {
    font-size: 20pt;
}

p {
    font-size: 20pt;
}

#delete {
    margin: 50px;
    text-align: center;
}

.links {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}