@{
    Layout = "_Layout";
}

@using Pierre.Models

<h1>Flavors</h1>

<div id="stuff">
    @if (Model.Count == 0)
    {
        <p>No flavors have been added yet.</p>
    }

    <ul>
        @foreach (Flavor flavor in Model)
        {
            @Html.ActionLink($"{flavor.Flav}", "Details", new { id = flavor.FlavorId })
        }
    </ul>
</div>

<hr>

<div class="links">
    <h3>@Html.ActionLink("Add New Flavor", "Create")</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
</div>